<template>
    <p>
        Unser Verein Vinyl4Charity e.V. wurde im Jahre 2015 von 11 musikbegeisterten Studienfreunden mit dem Ziel
        gegründet, die Kulturlandschaft in Trier um Konzerte aus Nischenmusikbereichen zu erweitern und damit einen
        guten Zweck zu fördern. Unser Verein ist seitdem auf 35 Mitglieder angewachsen.
    </p>
    <p>
        Seit unserer Gründung haben wir eine Vielzahl von Konzerten in Trier veranstaltet. Stilistisch bewegen sich
        unsere Konzerte stets meist in der Rockmusik, mit Fokus auf Stoner, Doom, Metal, Psychedelic Rock, Blues Rock.
    </p>
    <p>
        Satzungsgemäß wirtschaftet der Verein spendenorientiert, wenngleich auch nicht gemeinnützig im steuerrechtlichen
        Sinne. Jährlich wird ein Großteil unserer Gewinne aus dem vorangegangenen Jahr an ein gemeinnütziges Projekt in
        der Region gespendet.
    </p>
    <p>
        Unsere Gewinne erwirtschaften sich aus etwaigen Überschüssen aus Konzerten, Spenden und dem Verkauf von
        Vinyl-Schallplatten, welche wir auf Spendenbasis erhalten und auf unseren Konzerten gegen Geldspenden anbieten.
    </p>
    <p>
        Auch die Presse hat schon über uns berichtet:<br>
        <a
            href="https://www.volksfreund.de/region/trier-trierer-land/vinyl-fuer-den-guten-zweck_aid-6254086">https://www.volksfreund.de/region/trier-trierer-land/vinyl-fuer-den-guten-zweck_aid-6254086</a><br>
        <a
            href="https://www.rockhard.de/stories/vinyl4charityplattenfreunde-sind-richtig-tolle-menschen">https://www.rockhard.de/stories/vinyl4charityplattenfreunde-sind-richtig-tolle-menschen</a>
    </p>
</template>