<template>
    <link rel="stylesheet" href="./fonts/fontawesome/css/all.css">
    <div id="modal"></div>
    <div id="menu-container">
        <a id="burger" href="javascript:void(0);">
            <i class="fa fa-bars"></i>
        </a>
        <div id="menu">
            <img src="images/logo.svg">
            <div id="links">
                <a href="index.html#home">Home</a>
                <a href="index.html#about">Über uns</a>
                <a href="index.html#events">Events</a>
                <a href="index.html#bands">Bands</a>
                <a href="index.html#donations">Spenden</a>
                <a href="index.html#contact">Kontakt</a>
            </div>
            <social-media-list></social-media-list>
        </div>
    </div>
</template>