<template>
    <p>
        Schreib uns gerne per E-Mail
    </p>
    <a href="mailto:vinyl4charity@gmx.de">vinyl4charity@gmx.de</a>
    <p>oder über Social-Media</p>
    <a href="https://www.facebook.com/vinyl4charity">https://www.facebook.com/vinyl4charity</a><br>
    <a href="https://www.instagram.com/vinyl.4charity">https://www.instagram.com/vinyl.4charity</a>

    <h3>Mitglied werden</h3>
    <p>
        Du möchtest Mitglied werden?
    </p>
    <p>
        Dann sende uns deinen ausgefüllten <a href="">Mitgliedsantrag</a> per E-Mail an <a
            href="mailto:vinyl4charity@gmx.de">vinyl4charity@gmx.de</a>
    </p>
</template>