<template>
    <section id="home">
        <home-section></home-section>
    </section>
    <section id="about">
        <content-section>
            <h2 slot="heading">About</h2>
        </content-section>
    </section>
    <section id="events">
        <content-section>
            <h2 slot="heading">Events</h2>
        </content-section>
    </section>
    <section id="bands">
        <content-section>
            <h2 slot="heading">Bands</h2>
        </content-section>
    </section>
    <section id="donations">
        <content-section>
            <h2 slot="heading">Spenden</h2>
        </content-section>
    </section>
</template>