div {
    background-color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 1em;
}

div.alt {
    background-color: #c83535;
    color: white;
}

a {
    color: black;
}

div.alt>a {
    color: white;
}

i {
    padding: 0.5em;
}