<template>
    <p id="address">
        <b>
        Vinyl4Charity e.V.<br>
        c/o Johannes Hagebölling<br>
        Engelstraße 69<br>
        54292 Trier
        </b>
    </p>
    <p>
        <b>E-Mail:</b> <a href="mailto:vinyl4charity@gmx.de">vinyl4charity@gmx.de</a>
    </p>
    <p>
        Vinyl4Charity e.V. ist im Vereinsregister des Registergerichts Wittlich unter der Registernummer VR 41114 eingetragen.
    </p>
    <p>
        <b>Geschäftsführender Vorstand:</b><br>
        Johannes Hagebölling, Matthias Recktenwald
    </p>
    <p>
        <b>Redaktionell verantwortliche Personen:</b><br>
        Johannes Hagebölling, Matthias Recktenwald
    </p>
    <p>
        <b>Dieses Impressum gilt auch für:</b><br>
        <a href="https://www.facebook.com/vinyl4charity">https://www.facebook.com/vinyl4charity</a><br>
        <a href="https://www.instagram.com/vinyl.4charity">https://www.instagram.com/vinyl.4charity</a>
    </p>
</template>